Step 0: Importing Relevant Packages (0%)

In [1]:
# Web Scraping Libraries
from bs4 import BeautifulSoup  # for scraping
import requests  # for sending HTTP requests
# Data Processing Libraries
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Step 1: Crawl a Real World Data Set (2%)

In [2]:
url = "https://www.worldometers.info/coronavirus/#main_table"  # Web address of data
response = requests.get(url)  # Performing a get request for the data at the url location
soup_object = BeautifulSoup(response.content)  # Parsing the request response to create a soup_object that can be searched for a table
covid_table = soup_object.find("table")  # Searching the soup_object for a table

with open("Live_Covid_Data.csv", "w", newline="") as csv_file:  # Opening a CSV file to be written into
    writer = csv.writer(csv_file)  # Defining the writer as a csv writer that writes to the opened file

    for row in covid_table.find_all("tr"):  # Iterate through the rows of the table, "tr" points to a row in the table
        cells = row.find_all("td")  # Get the cells in the row, "td" points to a cell in the row

        if cells:  # If there are cells...
            values = [cell.text for cell in cells]  # Values is a list of values for each cell in the row of cells
            writer.writerow(values)  # Write the values to the CSV

NameError: name 'table' is not defined

Step 2: Data Preparation and Cleaning (5%)

In [58]:
# Creating list of column names
col_names = ["Country", "Total Cases", "New Cases", "Total Deaths", "New Deaths", "Total Recovered", "New Recovered", "Active Cases", "Critical Cases",
             "Total Cases / 1M People", "Total Deaths / 1M People", "Total Tests", "Total Tests / 1M People", "Population", "Continent", "One Case / n People",
             "One Death / n People", "One Test / n People", "New Cases / 1M People", "New Deaths / 1M People", "Active Cases / 1M People"]

# Reading the csv to a dataframe with the column names specified, encoding with "latin-1" to get around "utf-8" decoding issue.
df = pd.read_csv("Live_Covid_Data.csv", names=col_names, header=None, encoding="latin-1")
df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,Critical Cases,Total Cases / 1M People,...,Total Tests,Total Tests / 1M People,Population,Continent,One Case / n People,One Death / n People,One Test / n People,New Cases / 1M People,New Deaths / 1M People,Active Cases / 1M People
NaN,\nNorth America\n,"121,153,860",20,"1,577,299",NaN,"116,021,050","2,529","3,555,511","9,185",NaN,...,NaN,NaN,NaN,North America,\n,NaN,NaN,NaN,NaN,NaN
NaN,\nAsia\n,"206,269,228","359,815","1,510,515",614.0,"193,256,698","97,077","11,502,015","10,966",NaN,...,NaN,NaN,NaN,Asia,\n,NaN,NaN,NaN,NaN,NaN
NaN,\nEurope\n,"242,566,203","21,183","1,979,053",146.0,"236,644,243","150,556","3,942,907","7,899",NaN,...,NaN,NaN,NaN,Europe,\n,NaN,NaN,NaN,NaN,NaN
NaN,\nSouth America\n,"66,709,623","5,622","1,341,029",5.0,"64,212,906","17,278","1,155,688","10,347",NaN,...,NaN,NaN,NaN,South America,\n,NaN,NaN,NaN,NaN,NaN
NaN,\nOceania\n,"13,580,074","2,117","23,274",NaN,"13,232,661",NaN,"324,139",160,NaN,...,NaN,NaN,NaN,Australia/Oceania,\n,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226.0,Niue,421,NaN,,NaN,248,NaN,173,NaN,"259,556",...,NaN,NaN,"1,622",Australia/Oceania,4,NaN,NaN,NaN,NaN,"106,658"
227.0,Vatican City,29,NaN,,NaN,29,NaN,0,NaN,"36,295",...,NaN,NaN,799,Europe,28,NaN,NaN,NaN,NaN,NaN
228.0,Western Sahara,10,NaN,1,NaN,9,NaN,0,NaN,16,...,NaN,NaN,"626,161",Africa,"62,616","626,161",NaN,NaN,NaN,NaN
229.0,MS Zaandam,9,NaN,2,NaN,7,NaN,0,NaN,NaN,...,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230.0,China,"412,513","5,231","5,245",3.0,"355,177","1,882","52,091","1,260",285,...,"160,000,000","110,461","1,448,471,400",Asia,"3,511","276,162",9.0,4,NaN,36

Step 3: Exploratory Data Analysis (8%)

Step 4a: Question 1 (10%)

Step 4b: Question 2 (10%)

Step 4c: Question 3 (10%)

Step 5: Summary and Conclusion (5%)

Write summary/conc in here